<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>
<body style="background-color: rgb(192, 207, 255)">
    {% extends "blog/padre.html" %}

    {% load static %}

    {% block contenidoCambia %}

      <h1>ingrese el Autor</h1>

      {% if miFormulario.errors %}
      <p style="color: red;"> datos no validos </p>
      {% endif %}


      <form action="" method="POST">{% csrf_token %}

         <table>

            {{ miFormulario.as_table }}

         <table>   

         <input type="submit" value="Enviar">

    {% endblock %}
    
</body>
</html>